<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584886205647-fnlt5k2a39mj99ntv95fb6lrb6vgpsqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584886205647-fnlt5k2a39mj99ntv95fb6lrb6vgpsqn</string>
	<key>API_KEY</key>
	<string>AIzaSyBwJunmphJAPcdjepZCNuy9Un7SgOhbixs</string>
	<key>GCM_SENDER_ID</key>
	<string>584886205647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busTicketUnap</string>
	<key>PROJECT_ID</key>
	<string>ticket-bus-unap-97686</string>
	<key>STORAGE_BUCKET</key>
	<string>ticket-bus-unap-97686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584886205647:ios:5dc537b14d03385d6dcbba</string>
</dict>
</plist>